<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.daniel.llama-swap</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/llama-swap</string>
      <string>--config</string>
      <string>/Users/daniel.kirsch/code/llamaswap/config.yaml</string>
      <string>--listen</string>
      <string>127.0.0.1:8080</string>
      <string>--watch-config</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>/Users/daniel.kirsch/code/llamaswap</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/daniel.kirsch/code/llamaswap/llama-swap.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/daniel.kirsch/code/llamaswap/llama-swap.err.log</string>

    <key>ProcessType</key>
    <string>Interactive</string>
  </dict>
</plist>
